<div class="lang-container">
    <h4 class="mb-3">{{'Translation settings' | translate}}</h4>
    <div *ngIf="!ui?.langs?.length">
        <span>{{'No languages are present' | translate}}</span>&nbsp;
        <a (click)="initLanguage()">{{'Click here to initialize' | translate}}</a>
    </div>
    <div *ngIf="ui?.langs?.length" style="display: flex;">
        <div class="d-flex mr-3" style="width: 50%;">
            <div style="width: 100%;">
                <app-simple-search [data]="ui._base" (res)="ui.base = $event" [placeholder]="ui.isJSON ? ('Ctrl + F in editor to search' | translate) : ('Search base here' | translate)"></app-simple-search>
            </div>
        </div>
        <div class="d-flex align-items-center justify-content-end" style="width: 50%;">
            <ng-container *ngIf="!ui?.isJSON">
                <span>{{'Editing' | translate}}: </span>
                <select class="custom-select ml-3" [ngModel]="ui.langs[0].code" (ngModelChange)="onLangChange($event)">
                    <ng-container *ngFor="let lang of ui.langs; let i = index;">
                        <option [value]="lang.code">{{lang.name}}</option>
                    </ng-container>
                </select>
            </ng-container>
            <ng-container *ngIf="isBase">
                <button *ngIf="!ui.isJSON" (click)="toggleJSON()" class="btn btn-sm btn-light ml-3" style="white-space: nowrap;">
                    {{'Paste JSON' | translate}}</button>
                <div *ngIf="ui.isJSON">
                    <button (click)="cancelMonacoEdit($event)" class="btn btn-sm btn-light mr-2">{{'Cancel' |
                        translate}}</button>
                    <button (click)="applyMonacoChanges($event)" [disabled]="!monaco.dirty" class="btn btn-sm btn-primary">{{'Apply JSON' |
                        translate}}</button>
                </div>
            </ng-container>
        </div>
    </div>

    <ng-container *ngIf="!!ui?.loadedLang?.code">
        <div class="d-flex mt-3" style="overflow: auto; flex: 1;">

            <ng-container *ngIf="isBase; else translateEditor">
                <ng-container *ngTemplateOutlet="baseEditor"></ng-container>
            </ng-container>

        </div>
        <div class="d-flex justify-content-end">
            <button class="btn btn-primary mr-2" (click)="saveLang()">{{'Save' | translate}}</button>
            <button *ngIf="!isBase" class="btn btn-primary mr-2" [disabled]="!ui.inputGroup.dirty"
                (click)="applyLang(ui?.loadedLang?.code)">{{'Apply' | translate}}</button>
            <button class="btn btn-light">{{'Cancel' | translate}}</button>
        </div>
    </ng-container>
</div>

<!-- Base editor -->
<ng-template #baseEditor>
    <!-- Testing base editor -->
    <form *ngIf="!ui.isJSON" [formGroup]="ui?.inputGroup" class="form-container">
        <input class="lang-form base-form" (keydown.enter)="addNewBase($event)"
            (blur)="newBase.placeholder = _t.instant('Click here to add new key'); showBaseInstruct = false;"
            [placeholder]="'Click here to add new key' | translate" #newBase
            (focus)="newBase.placeholder = _t.instant('Case and space sensitive'); showBaseInstruct = true;" [formControlName]="NEWFIELD"
            type="text">
        <div class="mb-4" style="position: relative;">
            <small style="color: lightgrey; position: absolute;" *ngIf="showBaseInstruct">{{'Press ENTER to confirm' | translate}}</small>
        </div>
        <ng-container *ngFor="let key of ui?.base; let keyIdx = index;">
            <ng-container *ngIf="genControlName(key); let controlName;">
                <input class="lang-form base-form" [formControlName]="controlName" #baseInput
                    (click)="baseInput.select();" type="text">
            </ng-container>
        </ng-container>
    </form>
    <ngx-monaco-editor *ngIf="ui.isJSON" [options]="monaco.options" (ngModelChange)="onMonacoCodeChanged($event)"
        [ngModel]="monaco.code" style="height: 100%; width: 100%;"></ngx-monaco-editor>
</ng-template>

<ng-template #translateEditor>
    <form [formGroup]="ui?.inputGroup" class="form-container">
        <ng-container *ngFor="let key of ui?.base; let keyIdx = index;">
            <ng-container *ngIf="genControlName(key); let controlName;">
                <div class="lang-form translate-form">
                    <span>{{key}}</span>
                    <!-- [value]="ui.inputGroup.controls[controlName].value" -->
                    <input [formControlName]="controlName" #translateInput (focus)="translateInput.select();"
                        type="text">
                </div>
                <!-- <div class="lang-form translate-form">
                    <span>{{key}}</span>
                    <input [name]="controlName" type="text" [value]="ui.inputGroup.value[controlName]">
                </div>
                <div class="lang-form translate-form">
                    <span>{{key}}</span>
                    <input [name]="controlName" type="text" [value]="ui.inputGroup.value[controlName]">
                </div>
                <div class="lang-form translate-form">
                    <span>{{key}}</span>
                    <input [name]="controlName" type="text" [value]="ui.inputGroup.value[controlName]">
                </div>
                <div class="lang-form translate-form">
                    <span>{{key}}</span>
                    <input [name]="controlName" type="text" [value]="ui.inputGroup.value[controlName]">
                </div> -->
            </ng-container>
        </ng-container>
    </form>
</ng-template>