.lang-container
    display: flex
    flex-flow: column
    height: 100%
.form-container
    display: flex
    flex-flow: column
    width: 100%
    justify-content: flex-start
    input, input:focus
        border: none
        outline: none
        background-color: transparent
    .lang-form:hover
        background-color: lightgrey
    .base-form
        width: 100%
    .translate-form
        display: flex
        width: 100%
        span
            width: 50%
            padding: 1px 2px
        input
            width: 50%